
<body>
    
      
       
       
       
       <img  class=" animate__animated animate__flipInY" src="assets/logo2-bro.png" id="img_id">
       <h3 class="animate__animated animate__bounceInRight">
        martiend@ te ofrece una amplia variedad de productos y las mejores marcas.
        Porque evolucionamos con vos.
   </h3>
       <button type="button" class="btn btn-warning animate__animated animate__backInLeft" routerLink="/inicio">Bienvenid@</button>
       <h3 class="animate__animated animate__jackInTheBox">
        Gracias por visitarnos!
   </h3>

       <div>  
       
</div>

</body>
<app-footer></app-footer>