<ul class="nav nav-tabs  navbar-dark bg-dark ">
  
    <li class="nav-item">
      <a class="navbar-brand"   routerLink="/inicio"><img id="photo_id" src="assets/logo2-bro.png" alt="" className={classes.image}
        width="40px" /></a>
    </li>
    
    <li class="nav-item">
        <a class="nav-item nav-link " id="login_id" style="color:rgb(252, 184, 13)" routerLink="/ingresar">Login </a>
    </li>
    <li class="nav-item">
        <a class="nav-item nav-link" id="registro_id" style="color:rgb(252, 184, 13)"  routerLink="/registro">Registrarse</a>
    </li>
    <form class="example-form" >
     
     </form>
     
  </ul>
 
  
<router-outlet></router-outlet> 